.products{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    
    margin: 20px ;
}
.product-summery{
    background-color: bisque;
    padding: 10px;
    
}
.page-count button{
 padding: 5px;
 margin: 2px;
 cursor: pointer;
 background-color: #fff;
 font-size: 18px;
 border: 1px solid orange;
 
}
.page-count .select {
 background-color: orange;
 color: white;
}